@use "../../../styles/variables" as *;
@use "../../../styles/_mixins.scss" as *;

.contactPage {
  max-width: 1200px;

  .contactForm {
    border-radius: 5px;

    .messageInloggen {
      color: $warning;
      font-size: 1.4rem;
    }
    .messageIngelogd {
      color: $color-messageIngelogd;
    }

    h1 {
      margin: 15px 0;
      font-weight: 400;
    }

    .controlLabelstar {
      color: $warning;
      margin: 15px 0;
    }

    .required:after {
      content: " *";
    }

    label {
      padding: 1em 0 0.5em;
      display: block;
    }

    input {
      @include input;
      display: block;
      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
      }
    }

    button[type="submit"] {
      @include btn;
      background-color: $btn-submit;
      cursor: pointer;
      &:hover {
        background-color: $btn-bg;
      }
    }
    .errorMessage {
      color: #c97322;
      padding-top: 3rem;
    }
    .message {
      padding: 1em;
      border: 1px solid;
    }
  }
}
