@use "../../../styles/variables" as *;

.container {
  justify-content: center;
  display: flex;
  margin-top: 5%;

  .btnModalOpen {
    background-color: $color-btnLogin;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    position: relative;
    justify-self: center;
    width: 20%;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .modalClose {
      position: absolute;
      top: 0;
      color: white;
      font-size: 35px;
      font-weight: bold;
      font-size: 3rem;
    }

    .modal {
      background: #fefefe;
      margin: 5% auto 15% auto;
      width: 50%;
      height: 60%;
      border-radius: 15px;
      padding: 30px;
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s;
      @-webkit-keyframes animatezoom {
        from {
          -webkit-transform: scale(0);
        }
        to {
          -webkit-transform: scale(1);
        }
      }

      @keyframes animatezoom {
        from {
          transform: scale(0);
        }
        to {
          transform: scale(1);
        }
      }
      label {
        padding: 1em 0 0.5em;
        display: block;
      }
      input {
        outline: 0;
        border: 1px solid $primary-font-color;
        transition: box-shadow 0.15s ease-in-out;
        border-radius: 4px;
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin-bottom: 0.55rem;
        &:focus {
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        }
      }
    }
  }

  button {
    display: block;
    padding: 10px 12px;
    min-width: 6em;
    color: white;
    padding: 14px 15px;
    margin: 18px 0;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      background-color: $btn-bg;
    }
  }
  button[type="submit"] {
    background-color: $color-btnLogin;
    &:hover {
      background-color: $btn-bg;
    }
  }
  button[type="button"] {
    background-color: $color-btnCancel;

    &:hover {
      background-color: $btn-bg;
    }
  }
}
